<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= @chart_item.song %>
</p>

<p>
  <strong>Position:</strong>
  <%= @chart_item.position %>
</p>

<p>
  <strong>Top5:</strong>
  <%= @chart_item.top5 %>
</p>

<p>
  <strong>Top10:</strong>
  <%= @chart_item.top10 %>
</p>

<p>
  <strong>Top25:</strong>
  <%= @chart_item.top25 %>
</p>

<%= link_to 'Edit', edit_chart_item_path(@chart_item) %> |
<%= link_to 'Back', chart_items_path %>
